{% extends 'base.html' %}
{% load static %}


{% block content %}
<body style="background-color:#bfbfbf">
<center>
    <h1 style="margin-top:30px">Service Bookings</h1><br>
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Service</th>
            <th>Service Date</th>
            <th>Special Request</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
        </tr>
        {% for i in book %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.service}}</td>
            <td>{{i.service_date}}</td>
            <td>{{i.special_request}}</td>
            <td>{{i.phone}}</td>
            <td>{{i.email}}</td>
            <td><a style="margin-left:30px" class="btn btn-secondary" href="{% url 'remove' i.id %}">Remove</a></td>
        </tr>
        {% endfor %}
    </table>
</center>
</body>

{% endblock %}