{% extends 'base.html' %}
{% load static %}


{% block content %}
<body style="background-color:#bfbfbf">
<center>
  <h3 style="font-weight:bold;margin-top:30px">LOGIN</h3>
    <h5>New User?<a class="nav-link active" aria-current="page" href="{% url 'customreg' %}" style="display:inline;font-size:20px;">Click to register</a></h5>
  <br>
  <form method="POST">
    {% csrf_token %}

<div style="width:500px">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="mb-3">
  <label class="form-label"><b>Username</b></label>
  <input type="text" class="form-control" name="u" placeholder="Enter username">
</div>

    <div class="mb-3">
  <label class="form-label"><b>Password</b></label>
  <input type="password" class="form-control" name="p" placeholder="Enter password">
</div>


      <input type="submit" class="form control" style="background-color:#97bbbd;font-weight:bold">

</form>
</div>

    </form>


    <br><br>

    {% if messages %}
    {% for i in messages %}
    <ul>
        <li style="font-weight:bold;color:red">
            {{i}}
        </li>
    </ul>
    {% endfor %}
    {% endif %}
</center>
</body>
{% endblock %}